<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.libraryadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".ReturnBookListActivity"
            android:parentActivityName=".ReturnBookActivity"></activity>
        <activity android:name=".BorrowListActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".ViewBookActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ReturnBookActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BorrowBookActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateIdActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MemberListActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".LoginFormActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddBookActivity"
            android:parentActivityName=".MainActivity" />
    </application>


</manifest>